<div class="login-group">

<form method="POST" action="/sessions/login">
  <div>
    <label class="login-label">Email:</label>
  </div>
    <input type="text" name="email">
  </div>

  <div>
    <label class="login-label">Password:</label>
  </div>
  <div>
    <input type="password" name="password">
  </div>

  <div class="login-submit">
    <input type ="submit">
  </div>
</form>
</div>
