.container {
  margin: 20px auto;
  width: 900px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.content {
  width: 900px;
  overflow: hidden;
}

.content .left-column, .content .right-column{
  float: left;
  width: 50%;
}

* {
  outline: 1px solid red;
}