<div class="container">
  <div class="content-container">
    <div class="content">
      <div class="left-column">
        <h2>Got Questions?</h2>
        <%= erb :"/surveys/_form", layout: false %> 
      </div>
      <div class="right-column">
        <h2>Got Answers?</h2>
        <%= erb :"/surveys/_all", layout: false %>
      </div>
    </div>
    <div class="footer">
      Josh, Julianne, and Wayne
    </div>
  </div>
</div>

